<ion-view view-title="Home">

    <ion-content class="padding">
        <ion-list>
            <ion-item-sliding #item>
                <h2>Subscribed</h2>
                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

                <h2>Near by</h2>
                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

                <h2>New</h2>
                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

                <ion-item>
                    Item
                </ion-item>

            </ion-item-sliding>
        </ion-list>
    </ion-content>
</ion-view>
